*{
    background-color:aliceblue;
    text-align: center;
    box-sizing:border-box;
}

.container{
    height:600px;
    width:600px;
    margin:auto; 
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1px;
    row-gap:1px;
    flex-wrap:wrap;
    align-content:center;


}


.square,.hover{

    height:20px;
    flex: 0 0 3.4%;   

    
    
}

.square{
    background-color:red;

    
}

.hover{
    background-color:orange;

}